<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	<meta charset="UTF-8">
		<title>Lista de rubros</title>
		<link th:href="@{/css/foundation.min.css}"/>
		<script th:src="@{/js/vendor/jquery.js}" type="text/javascript"></script>
		<script th:src="@{/js/vendor/foundation.min.js}" type="text/javascript"></script>
	</head>
	<body>
		<ul class="menu icons icon-left">
		  <li><a href="#"><i class="fi-list"></i> <span>One</span></a></li>
		  <li><a href="#"><i class="fi-list"></i> <span>Two</span></a></li>
		  <li><a href="#"><i class="fi-list"></i> <span>Three</span></a></li>
		  <li><a href="#"><i class="fi-list"></i> <span>Four</span></a></li>
		</ul>
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell large-12">
					hola
				</div>
			</div>
		</div>
	</body>
</html>