<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
    <div class="equisde">
        <p class="equisdee"> 4<span style="color:  #307eb3;">0</span>3 </p>
<br>    <p class="equisdeee">DOES NO HAVE PERMISSION FOR ACCESS</p>
    </div>
</body>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .equisde{
        margin-top: 10%;
        margin-left: 27%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        width: 100%;
    }
    .equisdee{
        margin-left: 13%;
        font-size: 200px;
    }
    .equisdeee{
        margin-left: 12%;
    }
</style>

</html>